{% extends "ClarolineCoreBundle:Administration:layout.html.twig" %}

{% block title %}
    {{ parent() ~ ' - ' ~ 'user_tracking_plugin_configuration'|trans({}, 'usertracking') | striptags | raw }}
{% endblock %}


{% block breadcrumb %}
    {{
        macros.breadcrumbs([
            {
                'name': 'administration'|trans({}, 'platform'),
                'href': path('claro_admin_index')
            },
            {
                'name': 'packages'|trans({}, 'platform'),
                'href': path('claro_admin_plugins')
            },
            {
                'name': 'user_tracking_plugin_configuration'|trans({}, 'usertracking'),
                'href': ''
            }
        ])
    }}
{% endblock %}

{% block section_content %}
    <div class="panel-heading">
        <h3 class="panel-title">
            {{ 'user_tracking_plugin_configuration'|trans({}, 'usertracking') }}
        </h3>
    </div>
    <form role="form"
          class="form-horizontal"
          action="{{ path('claro_user_tracking_plugin_configure') }}"
          method="post"
          {{ form_enctype(form) }}
          id="form_settings"
          novalidate
    >
        <div class="panel-body">
            <div class="well">
                {{ 'user_tracking_configuration_explanation'|trans({}, 'usertracking') }}
            </div>
            {{ form_widget(form) }}
        </div>
        <br>
        <div class="panel-footer">
            <button type="submit" class="btn btn-primary">
                {{ 'ok'|trans({}, 'platform') }}
            </button>
            <a href="{{ path('claro_admin_plugins') }}"
               class="btn btn-default"
            >
                {{ 'cancel'|trans({}, 'platform') }}
            </a>
        </div>
    </form>
{% endblock %}